.card {
  width: 260px;
  height: 330px;
  border-radius: 20px;
  padding: 3rem 1.95rem;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.15rem;
}

.cardTan {
  background: linear-gradient(to bottom, #C29B6C, #674422);
  --icon-color: #C29B6C;
}

.cardDarkBrown {
  background: linear-gradient(to bottom, #772402, #551900);
  --icon-color: #772402;
}

.cardOrange {
  background: linear-gradient(to bottom, #E49419, #924F14);
  --icon-color: #E49419;
}

.cardBrown {
  background: linear-gradient(to bottom, #52392F, #674422);
  --icon-color: #52392F;
}

.iconCircle {
  width: 104px;
  height: 104px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.25rem;
  color: var(--icon-color, #333);
  box-shadow: inset 0 6px 8px rgba(0, 0, 0, 0.349);
}

.iconCircle i {
  filter: drop-shadow(0 6px 8px rgba(0, 0, 0, 0.301));
}

.textContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
}

.title {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
  line-height: 1.2;
}

.description {
  font-size: 1.4rem;
  line-height: 1.4;
  margin: 0;
  font-weight: 800;
}
