@import "tailwindcss";
.navbar-fixed {
 position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #52392F; 
  z-index: 1000;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.logo-text {
  color: #ffffff;
  font-weight: 800;
}

.nav-link {
  font-family: var(--font-body);
  font-weight: 500;
  letter-spacing: 0.1em;
}

.login-btn {
  background: linear-gradient(180deg, #772402 0%, #551900 100%);
  color: white;
  padding: 8px 32px;
  border-radius: 12px;
  font-weight: 600;
  text-transform: lowercase;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.login-btn:hover {
  transform: scale(1.05);
}
